<div id="container">
  <div id="card">
    <img id="productImage" alt="Product Image" src="../../assets/Image/image 4.png">
    <p id="ProductName">IPhone 9</p>
    <p id="ProductDetails">Details gamda awiiiiiiiiiiiiiiiiasdasdasm,dnasdasd</p>
    <p id="priceProduct">477.5 USD</p>
    <div id="Details">
      <p><span>Brand</span><span>I Phone</span></p>
      <p> <span>Category</span><span>Mobile</span></p>
      <p><span>In Stock</span><span>64</span></p>
    </div>
    <app-button id="LogInButton" title="ADD TO CART"></app-button>
    </div>

</div>
